.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
input{
    font-size: 1rem;

}
.book-info{
    display: block;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.book{
    border: 1px solid #fffff2;
    background-color: #fffff2;
    padding: .5rem;
    color: #8b0008;
    font-family: Georgia;
    font-weight: bold;

}
.book > .header{
    margin-bottom: .25rem;
}
.book > .body {
    font-size: .8rem;
    color: #777;
}
.hide{
    display: none;
}